.red-color {
    color: red
}

.white-color {
    color: white
}

.blue-color {
    color: #0066ff
}

.green-color {
    color: lime
}

.main-result {
    background: rgb(0,0,5);
    /*background: linear-gradient(156deg, rgba(0,0,5,1) 0%, rgba(74,74,74,1) 51%, rgba(0,0,5,1) 100%);*/
    background: linear-gradient(0.5turn, rgb(4 71 105), rgb(7 57 84), rgb(51 33 43));
    border: 3px solid #41113b;
    border-radius: 10px;
}

    .main-result .title-result-header {
        font-family: 'Helvet';
        font-size: 140%;
    }

        .main-result .title-result-header .new-prediction-title {
            margin-right: 20%;
        }

    .main-result .cal-result .first-cal-result {
        background-color: rgba(0,0,0,0.2);
        padding: 5px;
        border: 1px solid #41113b;
        border-radius: 10px;
        height: 100%;
    }

    .main-result .cal-result > div {
        margin: 0 -10px 0 -10px;
    }

    .main-result .cal-result .second-cal-result {
        background-color: rgba(0,0,0,0.2);
        vertical-align: middle;
        color: Khaki;
        border: 1px solid #41113b;
        border-radius: 10px;
        padding: 5px;
    }

    .main-result #countdown2 {
        font-family: 'Helvet';
        font-size: 24px;
    }

    .main-result #countdown-sec {
        font-family: 'Helvet';
        font-size: 24px;
        color: orange;
    }

    .main-result .result-div .result-div-table {
        display: flex;
        justify-content: center;
    }

    .main-result .result-div > div {
        overflow-x: auto;
        padding: 1%
    }

    .main-result .result-table {
        border-collapse: separate;
        border-spacing: 2px;
    }

        .main-result .result-table .result-turn {
            vertical-align: middle;
            background-color: rgba(255,255,255,0.2);
            width: 28px;
            height: 28px;
        }

            .main-result .result-table.result-turn img {
                height: 24px;
                width: 24px;
            }

    .main-result .footer-table-result {
        border-collapse: separate;
        border-spacing: 2px;
    }

        .main-result .footer-table-result .first-footer-result {
            padding: 0
        }

        .main-result .footer-table-result .foottxt {
            font-family: 'Helvet';
            color: white;
            font-size: large;
            padding-right: 0.5em;
        }

        .main-result .footer-table-result .bfoot {
            padding-left: 10%;
        }

        .main-result .footer-table-result .second-footer-result {
            font-family: 'Helvet';
            padding: 0;
        }

    .main-result .table-count-result {
        margin-bottom: 10px;
    }

    .main-result .table-sum-result tbody {
        height: 40px;
    }

        .main-result .table-sum-result tbody #win {
            background-color: #28a745;
        }

        .main-result .table-sum-result tbody #lose {
            background-color: #dc3545;
        }

    .main-result .table-count-result {
        overflow: hidden;
    }

        .main-result .table-count-result thead {
            display: block
        }

        .main-result .table-count-result tbody {
            max-height: 100px;
            overflow-y: auto;
            display: block;
        }

.process-table table {
    width: 97%;
    padding: 0;
    margin-top: -10px;
    margin-bottom: -12px;
}

.graph-result {
    background: rgb(0,0,5);
    /*background: linear-gradient(156deg, rgba(0,0,5,1) 0%, rgba(74,74,74,1) 51%, rgba(0,0,5,1) 100%);*/
    background: linear-gradient(0.5turn, rgb(4 71 105), rgb(7 57 84), rgb(51 33 43));
    border: 3px solid #41113b;
    border-radius: 10px;
}

    .graph-result .div-graph_tbl {
        overflow-x: auto;
        overflow: auto;
        height: 330px;
        display: flex;
        justify-content: center;
    }

    .graph-result #graph_tbl {
        table-layout: fixed;
        padding: 0;
        width: 80%;
    }

        .graph-result #graph_tbl tr:not(.line-compare) td {
            border: 1px solid rgba(255,255,255,0.2);
            width: 7px;
            height: 7px;
        }

        .graph-result #graph_tbl tr.line-compare td {
            background-color: #ff0033;
        }

.process-result {
    background-image: url(/image/FrameC.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    min-height: 170px;
    padding-top: 5px;
}

    .process-result .process-border {
        height: 30px;
        width: 100%;
        vertical-align: top;
        padding: 2px 15px 0px 15px;
        background-image: url('/image/Frame_03_persent.png');
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }

        .process-result .process-border > div {
            width: 95%;
        }

        .process-result .process-border #redbar {
            background-color: red;
        }

        .process-result .process-border #blubar {
            background-color: #0066ff;
        }

        .process-result .process-border #grnbar {
            background-color: lime;
        }

        .process-result .process-border div {
            height: 12px;
            border-radius: 10px;
        }

    .process-result .text-left {
        width: 90%;
        padding-left: 5%;
    }

        .process-result .text-left .title-process {
            font-family: 'Helvet';
            font-size: 170%;
        }

.fixed_header tbody {
    width: 100%;
    overflow: auto;
    height: 100px;
}

.fixed_header th, .fixed_header td {
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    text-align: center;
    width: 200px;
}

.summary {
    /* border: #41113b; */
    font-family: 'Helvet';
    font-size: 3vw;
    height: 75px;
}

.bet-div {
    background-image: url(/image/FrameC.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    min-height: 50px;
    padding-top: 10px;
}

.bet-button {
    margin: 0 20px 0 20px !important;
    min-width: 150px;
}

@media (max-width: 767px) {
    .summary {
        font-size: 6vw;
    }
}

.result-val {
    border-radius: 50%;
    text-align: center;
    font-family: verdana;
}

.result-val-small {
    border-radius: 50%;
    font-family: verdana;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
}

.result-val {
    background: green;
    border-radius: 50%;
    text-align: center;
    font-family: sans-serif;
    width: 60px;
    height: 60px;
    font-weight: 500;
    font-size: xxx-large;
}

.result-val-x,
.result-val-c {
    background: blue;
}

.result-val-l,
.result-val-t {
    background: red;
}

.bet-stop-button {
    background: linear-gradient(0deg, rgb(109 50 50) 0%, rgb(247 0 0) 51%, rgba(206,206,206,1) 100%) !important;
}

.div-box-chat {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 2;
}

    .div-box-chat .chat-box {
        background: url(/image/background-chat.png) no-repeat -1px -382px;
        background-position: 0px -426px;
        min-height: 572px;
        max-width: 416px;
    }

.chat-box .close-button {
    background: url(/image/background-chat.png) no-repeat;
    background-position: -636px -1123px;
    min-height: 56px;
    width: 75px;
    margin-left: 478px;
    margin-left: 341px;
}

.chat-box .chat-messages {
    padding: 15px;
    min-height: 431px;
    overflow-y: auto;
    max-height: 431px;
    max-width: 667px;
}

.chat-box .user-name {
    color: #3acdff;
    font-weight: bolder;
}

.chat-box .user-message {
    padding: 10px;
    align-self: flex-end;
    color: white;
}

.chat-box .bot-message {
    padding: 5px;
}

.chat-box .message:last-child {
    margin-bottom: 0;
}

.chat-box .message {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.chat-box .input-container {
    display: flex;
    padding: 15px;
    z-index: 1;
}

.chat-box .form-control:focus {
    border-color: #ff000000 !important;
    box-shadow: none;
    color: white;
}

.chat-box input {
    flex: 1;
    padding: 10px;
    border-color: #ff000000 !important;
    margin-top: 9px;
    background-color: #ff000000 !important;
}

.chat-box div.send-message {
    background: url(/image/background-chat.png) no-repeat;
    background-position: -624px -916px;
    min-height: 55px;
    width: 102px;
    scale: 0.9;
    cursor: pointer;
}

.chat-box .message-content {
    color: white;
}

.div-box-chat .message-collapse {
    background: url(/image/background-chat.png) no-repeat;
    background-position: -726px -925px;
    min-height: 50px;
    width: 46px;
    margin-left: 357px;
}

@media screen and (max-width:575px) {
    .div-box-chat {
        transform: scale(0.8);
        transform-origin: bottom right;
        transition: transform 0.3s ease;
    }

    .bet-button {
        min-width: 100px;
    }
}

@media screen and (max-width: 1366px) {
    .graph-result .div-graph_tbl {
        display: block;
    }
}
