@media(min-width:750px) {
    .room-card {
        height: 100px
    }
}

@media(min-width:1200px) {
    .room-card {
        height: 120px
    }
}

@media(min-width:992px) {
}

@media(max-width:767px) {
    .formula-div {
        display: none
    }
}

@media screen and (max-width: 1024px) and (min-width: 769px) {
    .room-card {
        width: 410px;
    }
}

@media screen and (min-width: 1440px) {
    .room {
        width: 45%;
    }
}

@media screen and (max-width: 768px) {

    .room-card {
        width: 100%;
        margin: auto;
    }
}

/* UPDATED ROOM CARD UI */
.room-card {
    display: flex;
    width: 500px;
    height: 270px;
    background: rgb(0, 0, 5);
    background: linear-gradient(156deg, rgba(0, 0, 5, 1) 0%, rgba(74, 74, 74, 1) 51%, rgba(0, 0, 5, 1) 100%);
    padding: 20px 30px;
    border-radius: 10px;
    gap: 30px;
    text-transform: uppercase;
}

    .room-card p {
        margin: 0;
        display: flex;
        align-items: center;
        gap: 10px;
    }

    .room-card .left-side img {
        width: 150px;
        height: 50px;
    }

.room-name {
    font-size: 22px;
    font-weight: bolder;
    color: white;
    text-transform: uppercase;
}

.card-btn {
    width: 100%;
    background-color: #161616;
    font-size: 28px;
    font-weight: bolder;
    outline: none;
    border: none;
    cursor: pointer;
    color: #ffffff;
    border: 1px solid #fff;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.winrate-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #161616;
    color: black;
}

    .winrate-area .heading {
        width: 100%;
        border-radius: 10px 10px 0 0;
        padding: 10px 0;
        color: white;
        text-align: center;
        font-size: 22px;
        font-weight: bolder;
        justify-content: center;
    }

    .winrate-area .winrate-info {
        color: orange;
        font-size: 28px;
        font-weight: bolder;
    }

.room {
    position: relative;
    border: #41113b 5px solid;
    border-radius: 10px;
}

.room-list {
    padding: 1%;
}

@media screen and (max-width:575px) {
    .room-card {
        width: unset;
    }

    .winrate-area .heading {
        font-size: 17px;
    }
}
